# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Libraries(don't need to ignore)
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Ignore all files in the Objects/ folder
build/*